.container {
    background-color: aqua;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-container{
    background-color: white;
    border-radius: 15px;
    border-style: solid;
    height: 50Vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.inputs-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
}